#root {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: white !important;
}

body {
    background-color: #212529 !important;
    display: block !important;
}

.div-tarjeta {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-grande, .texto-mediano {
    color: white;
    -webkit-text-stroke: 1px #404040;
}

.boton-tarjeta {
    color: #404040;
    background-color: white;
    border-color: #404040;
}

    .boton-tarjeta:hover {
        background-color: #D8D8D8;
        border-color: #A0A0A0;
    }

.nav-tab:hover {
    cursor:pointer
}

.margen-superior {
    margin-top: 10px;
}

/*Reescalar para otras ventanas*/
@media screen and (max-width: 960px) {
    .texto-grande {
        font-size: 35px;
    }
    .texto-mediano {
        font-size: 20px;
    }
}

@media screen and (min-width: 961px) {
    .texto-grande {
        font-size: 50px;
    }
    .texto-mediano {
        font-size: 30px;
    }
}