#root {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: white !important;
}

body {
    background-color: #212529 !important;
    display: block !important;
}

.div-tarjeta {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-grande {
    color: white;
    -webkit-text-stroke: 1px #404040;
}

.boton-tarjeta {
    color: #404040;
    background-color: white;
    border-color: #404040;
}

    .boton-tarjeta:hover {
        background-color: #D8D8D8;
        border-color: #A0A0A0;
    }

.nav-tab:hover {
    cursor:pointer
}

.div-grafico {
    width: 630px;
    height: 500px;
}

.margen-superior {
    margin-top: 10px;
}